/* You can add global styles to this file, and also import other style files */

html,
body {
 
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('/assets/backgroundimg1.jpg') no-repeat center center fixed;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: black;
    color: white; */
}

html {
    scroll-behavior: smooth
}